@model List<MarmorariaMoreira.Models.Entrada>
<div id="main" class="main-full">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <!-- users list start -->

                <section class="users-list-wrapper section">
                    <div class="users-list-filter">
                        <div class="card-panel">
                            @using (Html.BeginForm("Filtrar", "Vendas", FormMethod.Get))
                            {
                                <div class="row">
                                    <div class="col s12 m6">
                                        <label for="filtro-cliente">Cliente</label>
                                        <div class="input-field">
                                            <input type="text" id="filtro-cliente" placeholder="Nenhum" name="filtroCliente">
                                        </div>
                                    </div>
                                    <div class="col s12 m6 display-flex align-items-rigth show-btn">
                                        <button type="submit" class="col s3 btn btn-block blue accent-4 waves-effect waves-light">Filtrar</button>
                                        <a href="@Url.Action("Index")" class="col s3 btn btn-block red accent-4 waves-effect waves-light"> Limpar</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="fixed-action-btn direction-top">
                        <a class="btn-floating btn-large red" href="@Url.Action("Create", "Vendas")">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <!-- datatable start -->
                                <div class="responsive-table">
                                    <table id="users-list-datatable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Descrição</th>
                                                <th>Valor</th>
                                                <th>Data</th>
                                                <th>Cliente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var e in Model)
                                            {
                                                <tr>
                                                    <td>@e.Descricao</td>
                                                    <td>@e.Valor</td>
                                                    <td>@e.Data.ToString("dd/MM")</td>
                                                    <td>@e.Cliente.Nome</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>
</div>

<!-- END: Footer-->
<!-- BEGIN VENDOR JS-->
<script src="~/Materialize/app-assets/js/vendors.min.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="~/Materialize/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
<script src="~/Materialize/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>

<!-- END PAGE VENDOR JS-->
<!-- BEGIN THEME  JS-->
<script src="~/Materialize/app-assets/js/plugins.min.js"></script>
<script src="~/Materialize/app-assets/js/search.min.js"></script>
<script src="~/Materialize/app-assets/js/custom/custom-script.min.js"></script>
<script src="~/Materialize/app-assets/js/scripts/customizer.min.js"></script>
<!-- END THEME  JS-->
<!-- BEGIN PAGE LEVEL JS-->

<script src="~/Materialize/app-assets/js/scripts/page-users.min.js"></script>
<!-- END PAGE LEVEL JS-->